button {
    height: 90px;
    width: 290px;
    font-size: 28px;
    color: white;
    border: none;
    background-color: blue;
    transition: background-color 1s ease-in-out 1s, color 1s ease 1s, width 1s ease 1s, border-radius 1s ease 1s;
    /* this is a way to work with transitions properties
    transition-property: background-color color width;
    transition-duration: 1s; 
    */
}

button:hover {
    background-color: green;
    color: black;
    width: 100%;
    border-radius: 50%;
}