body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  padding: 40px 80px;
  color: lightcoral;
  font-size: 3rem;
  border: 3px solid lightcoral;
  font-family: 'roboto';
  font-weight: 300;
  letter-spacing: -2px;
  transition: 1s;
}

a:hover{
  letter-spacing: 5px;
  font-weight: 900;
  border: 7px solid lightcoral;
}